.index{
	padding: 0px;

	.index-slider{
		margin-top: 0px!important;
		position: relative;
		 .navigation-nav{
	 		position:absolute;
		 	background:transparent!important;
		 	font-weight: 900;
			@include font($Sams,2.25rem,500,$white);
		 	width:100%;
		 	height:100%;
		 	top:0px;
		 	font-size:3.5rem;
		 	display:flex;
		 	justify-content: space-between;
		 	align-items: center;
		 	div{
		 		z-index: 15;
		 		padding:25px 0px 25px 30px;
		 		-moz-padding:25px 30px 25px 30px;
		 		&:first-of-type{
		 		padding:25px 30px 25px 0px;
		 		-moz-padding:25px 30px 25px 30px;
		 		}
		 		&:hover{
		 			background: rgba(0,0,0,.5);
		 			cursor: pointer;
		 		}
		 	}
		 }
		.owl-nav{
			display: none;
		}
		.owl-dots{
			margin-top: -30px;
    		position: relative;
    		.owl-dot{

    			span{
    				border:1px solid white;
    				background: transparent;
	    			
    			}
    			&.active,&:hover{
    				span{
    					background: $white;
    				}
    			}
    		}
		}
		.item{
			position:relative;
			height:500px;
			background-image: url(../img/title.jpg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			a{
				position:absolute;
				height: 100%;
				width: 100%;
				z-index: 10;
			}
			.dark{
				position: absolute;
				height: 100%;
				width:100%;
				background-color: rgba(0,0,0,.25);
				z-index: 5;
			}
			.index-slider-text{
				
				    display: flex;
				    align-items: flex-end;
				    justify-content: flex-start;
				    height: 80%;
				h2{

					z-index: 10;
				 	@include font($Sams,2.25rem,500,$white);
					width: 70%;
					padding-left: 80px;
				 	margin: 80% 0px 0px 10px;
					
				 }

				
			}
			
		}
	}

	.container{
		.index-list{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin:50px 0px 0px;
				.index-item{
					width: 49%;
					margin-bottom: 24px;
					position: relative;
					&.one-to-one{
						width: 100%;
						.index-img{
							height:450px;
						}
					}
					&>a{

					    z-index: 3;
					    text-indent: 200%;
					    white-space: nowrap;
					    font-size: 0;
					    background: rgba(255,255,255,0);
					    position: absolute;
					    top: 0;
					    left: 0;
					    width: 100%;
					    height: 100%;
					    display: block;

					}
					&:hover {
						.index-img{
							border-color: $red;
						}
						.index-content h2{
							color:$red;
						}
						
					}
					&.one-to-two{
						width: 49%;
						.index-img{
							height:350px;
						}
					}
					&.one-to-three{
						width: 32%;
						.index-img{
							height:300px;
						}
					}
					&.two-to-three{
						width: 65%;
						.index-img{
							height:400px;
						}
					}
					.index-img{
						
						
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;
						border-bottom: 3px solid $red;
					}
				}
				.index-content{
					padding: 17px 13px 29px 20px;
					h2{
						@include font($Sams, 1.5rem, 500, $main_black);
					}
					p{
						margin: 17px 0px 50px;
						@include font($Sams, 1rem, 400, $main_black);
						line-height: 1.625rem;
					}
					.tag-for-news{
						position:relative;
						z-index:100;
					}
					.fa-tags{
						color:$grey;
					}
				}
		}
	}	
}

#modal-form{
  position: relative;
  background-color: $white;
  border-radius: 5px;
  max-width: 600px;
  width: 60%;
  @include breakpoint(max-width 500px){
	 width: 95%!important;
	 
  }
  margin: 0 auto;
  padding: 15px 20px;
  @include breakpoint(max-width 600px){
	 padding: 5px;
	 max-width: none;
  }
  h3{
    @include font($Sams, 1.6rem, 400, $main_black);
    text-align: center;
    margin-bottom: 0px;
    @include breakpoint(max-width 600px){
		 font-size:1.2rem;
		 margin-top:30px;
	  }
  }
  p{
    @include font($Sams, 1rem, 400, $dark_grey);
    text-align: center;
    line-height: 1.5rem;
    @include breakpoint(max-width 600px){
		display:none;
    }
  }
  hr{
    color: red;
    border: solid 1px $red;
    width: 30%;
    margin-top: 35px;
      @include breakpoint(max-width 500px){
		display: none;
	  }
  }
  form{
    width: 70%;
    margin: 30px auto 10px;
	@include breakpoint(max-width 500px){
		 margin: 10px auto 10px;
	  }
    .form-group{
      margin: 15px 0px 25px;
       @include breakpoint(max-width 500px){
		margin: 5px 0px 10px;
	  }
    }
    label{
      display: block;
      @include font($Sams, 1rem, 400, $dark_grey);
      padding-bottom: 10px;
      cursor: pointer;
      @include breakpoint(max-width 500px){
		 text-align: center;
		 
	  }
    }
    input{
      width: 100%;
      padding: 12px 8px;
      @include font($Sams, 1rem, 400, $main_black);
      border: none;
      background-color: $lightGrey;
      &.error{
      	border:1px solid $red;
      }
    }
    textarea{
      width: 100%;
      padding: 12px 8px;
      resize: none;
      @include font($Sams, 0.9rem, 400, $main_black);
      border: none;
      background-color: $lightGrey;
      line-height: 1.4rem;
      @include breakpoint(max-width 500px){
		 height:150px;
	  }
       &.error{
      	border:1px solid $red;
      }
    }
    .submit-modal-group{
      text-transform: uppercase;
      padding: 10px 33px 11px;
      background: #fff;
      border: 2px solid $red;
      @include font($Sams, 1rem, 400, $red);
      @include breakpoint(max-width 500px){
		 margin-top:5px!important;
		  margin-bottom:5px!important;
	  }
      transition-duration: 200ms;
      &:hover{
        background-color:$red;
        color:$white;
      }
    }
    .button-group{
      display: flex;
      justify-content: space-between;
    }
    .close-modal-group{
      text-transform: uppercase;
      padding: 10px 33px 11px;
      background: #fff;
		@include breakpoint(max-width 500px){
		 margin-top:5px!important;
		  margin-bottom:5px!important;
	  }
      border: 2px solid $dark_grey;
      @include font($Sams, 1rem, 400, $dark_grey);
      transition-duration: 200ms;
      &:hover{
        background-color:$dark_grey;
        color:$white;
      }
    }
  }
}