
.news-list{
	margin-bottom: 24px;
	display: flex;
	flex-direction: column;
		
	.news-item{
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 24px;
		.item-content{
			width: 64%;
			border-top:3px solid $red;
			padding: 14px 20px 30px;
			a{
				p{
					margin:17px 0px 50px;
					@include font($Sams, 1rem, 400, $main_black);
					line-height: 1.625rem;
					
				}
				text-decoration: none;

			}
			h2{
				margin-top:20px;
			}
			i.fa-tags{
				color:$grey;
			}
		}
		.kartinka {
			width:32%;
			.img{
				height:100%;
				background-image: url(../img/omon.jpg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}

		}
	}
	

}
	
