.info-block{
	padding: 34px 0px;
	
	margin-bottom: 24px;
	p{
		width:75%;
		@include font($Serif, 1rem, 400, $main_black);
		line-height: 1.6875rem;
		margin:0px auto;
	}
}
.psgal{
	width: 100%!important;
	figure{
		margin: 0px;
		figcaption{
			background-color: $white;
			@include font($Sams, 0.9rem, 300, $dark_grey);
			line-height: 1.4rem;
			padding: 5px 24px 15px;
			margin-top: -7px;
		}
	}
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.msnry_item{
		width: 32%;
		margin-bottom: 24px;
		img{
			width: 100%;
			border: 18px solid $white;
		}
	}

}