.single-new{

}
.thumbnail-news{
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
}
.meta-info{
  padding: 28px 0 0;
  span{
    @include font($Sams, 1rem, 300, $grey);
    margin-right: 20px;
    text-transform: uppercase

  }
  a{
      @include font($Sams, 1rem, 300, $grey);
      &:hover{
        color:$red;
      }
  }
}
.single-news-title{
  @include font($Sams, 2rem, 500, $main_black);
}
.single-news-content{
 padding-top: 10px;
  width: 80%;
  margin: auto;
  .content-single h2{
    @include font($Sams, 1.85rem, 500, $main_black);
    margin-bottom: -10px;
  }
  .content-single h3{
    @include font($Sams, 1.55rem, 500, $main_black);
    margin-bottom: -10px;
  }
  .content-single h4{
    @include font($Sams, 1.25rem, 500, $main_black);
    margin-bottom: -10px;
  }
  .content-single h5{
    @include font($Sams, 1rem, 600, $main_black);
    margin-bottom: -10px;
    text-transform: uppercase;
  }
  .content-single ul{
    margin:30px 0px;
    padding-left: 20px;
     @include font($Sams, 1.1rem, 400, $dark_grey);
  }
  .content-single ol{
    margin:30px 0px;
      padding-left: 20px;
       @include font($Sams, 1.1rem, 400, $dark_grey);
  }
  .content-single li{
    margin:10px 0px;
  }
  .content-single blockquote{
    margin: 50px;
    border-left: solid 4px $grey;
    padding-left: 15px;
    p{
      @include font($Sams, 1rem, 500, $main_black);
      small{
        @include font($Serif, 1rem, 400, $dark_grey);
      }
    }

  }
  p{
    @include font($Serif, 1.125rem, 400, darken($dark_grey, 10%));
    line-height: 1.8rem;
  }
  a{
    color: $red;
    &:hover{
      color: darken($red, 10%);
      text-decoration: underline;
    }
  }
  img{
    max-width: 100%;
  }
}


.single-news-tags{
  padding-top: 30px;
  padding-bottom: 15px;
}

ul.share-social{
  list-style: none;
  text-align: right;
  margin:0px;
  padding: 0px;
  li{
    display: inline-block;
    margin-left:10px;
    font-size: 1.25rem;
    i:hover{
      color: $red;
    }
    .fa-vk{
      color: #50719C;
    }
    .fa-facebook{
      color: #3B5998;
    }
    .fa-twitter{
      color: #1F9FF8;
    }
  }
}

.author-news {
  border-top: solid 1px $lightGrey;
  border-bottom: solid 1px $lightGrey;
  padding: 15px 0px;
  overflow: hidden;
  margin-bottom: 30px;
  img{
    width: 90px;
    border-radius: 50%;
    float: left;
    margin-right:15px;
  }
  p{
    margin: 0px;
    &:first-of-type{
      padding-top:17px;
    }
  }
  .name-author{
    @include font($Sams,1.125rem, 400, $main_black);
  }
  .email-author{
    @include font($Sams,1rem, 400, $grey);
  }
}

hr{
  border-top:1px solid $lightGrey;

}
.recent-news-wrap{
  padding: 24px 0px;
  background:  $lightGrey;
}

.recent-news-parent{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

.recent-news-item{
  position: relative;
  padding-bottom: 20px;
  margin: 0px 12px;
  width: 30%;
  border: solid 1px $lightGrey;
  background-color: $white;
  a{
    text-decoration: none;
    &:hover h4{
      color: $red;
    }
  }
  .text-description{
    padding: 0px 20px;
    p{
      padding-top: 5px;
      span{
        @include font($Sams, 0.9rem, 400, $grey);
      }
    }
    .description p{
      @include font($Sams, 1rem, 400, $main_black);
      line-height: 1.5rem;
    }
    h4{
      @include font($Sams, 1.5rem, 400, $main_black);
      margin: 0px;
    }
  }
  .tags{
    padding: 0px 20px;
    a{
      text-decoration: none;
      @include font($Sams, 0.88rem, 300, $grey);
      margin-right: 8px;
      &:hover{
        color: $red;
      }
    }
  }
}
.thumnail-recent-item{
  height: 200px;
  background-size: cover;
  background-position: center;
}

