//Colors

$red:#F44336;
$main_black:#2B2B2B;
$grey:#C8C8C8;
$dark_grey:#6A6A6A;
$white:#FFFFFF;



@mixin font($family-type, $size: 1rem, $weight : normal, $color : $DarkBlue){
  font: {
    family: $family-type;
    size: $size;
    weight: $weight;
  }
  color: $color;
}

$Sams:'Roboto',"Helvetica Neue", Helvetica, Arial, sans-serif;
$Serif:'Georgia',serif;