//Colors
$DarkBlue: #143A4C;
$LightBlue: #275D74;
$Gray: #EDEDED;
$white: #fff;
$DarkGray: #a7a7a7;
$Red: #FF3300;

$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$pt-serif: 'PT Serif Caption', serif;


@mixin font($family-type, $size: 1rem, $weight : normal, $color : $DarkBlue){
  font: {
    family: $family-type;
    size: $size;
    weight: $weight;
  }
  color: $color;
}
