/*  ====================    CONTACTS    ====================*/

main.container-fluid.contacts{
	
	@include breakpoint(max-width 768px){

		.main-content{
			


			h3{
				text-align: center;
			}
			.info{	
				margin-bottom: 25px;
					display: flex;
					 p:first-of-type a{
					 	color:$main_black;
					 }
					justify-content: space-around;
					@include breakpoint(max-width 400px){
								 flex-direction: column;
								 
							}
					@include breakpoint(max-width 510px){
							 justify-content: space-between;
							 p:first-of-type{
							 	margin-left:auto;
							 	@include breakpoint(max-width 400px){
									 margin-bottom:24px;
								}
							 }
						}
					p{
						@include breakpoint(max-width 510px){
							 width: 45%;
							 @include breakpoint(max-width 400px){
								 width: 100%;
								 text-align: center;
							}
						}
					    margin: 0px;
					    padding: 0px;
					   
					    display: inline-block;

					}
				}
			.about-us>p{
				width: 90%;
				text-align: center;
				margin:25px auto;
				
			}
		
			
				
			form .row .form-group{
				padding: 0px 50px;

				input,textarea{
					
				}
				input{
					
				}
				textarea{
				
				}

			}

			.form-group{
				padding: 0 36px;
			}
			button{
					margin:0px auto;
					display: block;
			}
		}
	}


}
