@include breakpoint(max-width 1200px){
  .psgal{
    .msnry_item{
      width: 31.7%;
      margin-bottom: 24px;
    }
  }
}

@include breakpoint(max-width 992px){
  .psgal{
    .msnry_item{
      width: 48.4%;
      margin-bottom: 24px;
    }
  }
}

@include breakpoint(max-width 718px){
  .psgal{
    .msnry_item{
      width: 48%;
      margin-bottom: 24px;
    }
  }
}

@include breakpoint(max-width 582px){
  .psgal{
    .msnry_item{
      width: 47.9%;
      margin-bottom: 24px;
    }
  }
}
@include breakpoint(max-width 554px){
  .psgal{
    .msnry_item{
      width: 100%;
      margin-bottom: 24px;
    }
  }
}

